aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
asgiref==3.8.1
async-timeout==4.0.3
asyncio==3.4.3
attrs==24.2.0
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
disutils==1.4.32.post2
Django==4.2.16
djangorestframework==3.15.2
edge-tts==6.1.12
filelock==3.15.4
frozenlist==1.4.1
fsspec==2024.6.1
idna==3.8
Jinja2==3.1.4
llvmlite==0.41.1
MarkupSafe==2.1.5
more-itertools==10.4.0
mpmath==1.3.0
multidict==6.0.5
networkx==3.1
numba==0.60.0
numpy==1.24.1
openai-whisper==20231117
pillow==10.4.0
pycparser==2.22
pydub==0.25.1
regex==2024.7.24
requests==2.32.3
soundfile==0.12.1
SpeechRecognition==3.10.4
sqlparse==0.5.1
sympy==1.13.2
tiktoken==0.7.0
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tqdm==4.66.5
triton==2.3.1
typing_extensions==4.12.2
urllib3==2.2.2
yarl==1.9.7
